@inherits LayoutComponentBase
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Riget Zoo</title>
    <link rel="stylesheet" href="css/Style.css">
</head>
<body>

    <header>
        <nav>
            <ul class="navbar">
                <li><a href="Tickets">Tickets</a></li>
                <li class="dropdown">
                    <a href="Explore" class="dropbtn">Explore</a>
                    <div class="dropdown-content">
                        <a href="Animals">Animals</a>
                        <a href="Exhibits">Exhibits</a>
                        <a href="Events">Events</a>
                    </div>
                </li>
                <li><a href="Plan">Plan</a></li>
                <li style="float:right"><a class="active" href="Login">Login/Register </a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-text">
            <h1>Welcome to Riget Zoo</h1>
            <p>Explore the wonders of wildlife in a unique and exciting way!</p>
        </div>
         <img src="images/Wildlifephoto.png" alt="Zoo" class="hero-image">
    </section>
    @Body
</body>
</html>