@* @page "/Account"
@using Rza_website.Models
@inject Services.CustomerService CustomerService
@inject NavigationManager NavigationManager

<link rel=" stylesheet" href="~/css/Style.css" />

<h1>Welcome to you Riget Zoo Account</h1>
 *@