@using Rza_website.Models
@inject Services.CustomerService Customerservice
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@page "/Account"

<link rel=" stylesheet" href="~/css/Style.css" />
<h1>Welcome to account</h1>


