@page "/Exhibits"
@inherits LayoutComponentBase
<link rel=" stylesheet" href="~/css/Style.css" />
<PageTitle>Exhibits</PageTitle>

<section class="animals-section">
    <h1>Exhibits at Riget Zoo</h1>
    <p>Come and see our Amazing Exhibits</p>

</section>