@page "/Explore"
@inherits LayoutComponentBase

<PageTitle>Explore</PageTitle>
<link rel=" stylesheet" href="~/css/Style.css" />
<section class="explore-section">
    <h1>Explore Riget Zoo</h1>
    <p>Discover the beauty and diversity of wildlife. Explore our animal exhibits, special events, and more!</p>
    
    <div class="explore-item">
        <div class="explore-item">
            <h2><a href="Animals">Animals</a></h2>
            <p>Learn more about the different species we host at Riget Zoo.</p>
        </div>
        <div class="explore-item">
       
            <h2><a href="Exhibits">Exhibits</a></h2>
            <p>Check out our unique and interactive exhibits.</p>
        </div>
        <div class="explore-item">
        
            <h2><a href="Events">Events</a></h2>
            <p>Attend exciting events and programs for all ages.</p>
        </div>
    </div>
</section>