@page "/Plan"
<link rel=" stylesheet" href="~/css/Style.css" />

<html>
<Body>
     <div class="text">
        <h1> Plan to get Zoo</h1>
        <p>Zoo map:</p>
    </div>
    <img src="images/Zoomappng.png" alt="Zoo" class="hero-image">
</Body>
    
</html>
