@page "/Plan"
<link rel=" stylesheet" href="~/css/Style.css" />

<html>
<body>
     <div class="text">
        <h1 style="text-align: center">Zoo Map</h1>
        <p></p>
    </div>
    <div class="image-container">
        <img src="images/Zoomappng.png" alt="Zoo" class="hero-image1">
        </div>
    

</body>
</html>
