@page "/Plan"
<link rel=" stylesheet" href="~/css/Style.css" />

<html>
<Body>
     <div class="text">
        <h1 style="text-align: center">Zoo Map</h1>
        <p></p>
    </div>
    <img src="images/Zoomappng.png" alt="Zoo" class="hero-image1">

</Body>
</html>
